@import url(https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap.min.css);

.App {
 background-image: url(../components/assests/image\ 4.png);
  padding: 4rem;
  text-align: center;
  display: flex;
  min-height: 75hv;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  background-size: cover;
  background-position: center center;
  margin-top: 0;
}
.container {
  padding: 6rem;
  width: auto;
  height: auto;
  
}
@media screen (min-width:670px) {
  
}
